.button__title {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    padding: 5px;
}
.button__value {
    border: 2px solid black;
    font-size: 0.8rem;
    padding: 4px;
    display: inline-block;
    height: 19px;
}
