.fallback__content {
    height: 50vh;
    color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    p {
      color: black;  
    }
}