.header {
    display: flex;
    justify-content: space-between;
    .action-buttons {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        & > div {
            margin: 0 10px;
        }
    }
}
